:root {
    --dark-blue: #1b1b32;
    --orange: #f1be32;
    --white: #fff;
    --grayish-blue: #3B3B4F;
    --text: "Lato", sans-serif;
    --heading: "Roboto Mono", monospace;
  }
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: var(--dark-blue);
  width: 100%;
  padding: 0 60px;
}

#converter-title {
  background-color: var(--grayish-blue);
  color: var(--white);
  width: 100%;
  text-align: center;
  padding: 35px;
  margin: 40px auto;
  border: 3px dashed;
  font-family: var(--heading);
  font-size: 4.5rem;
  border-radius: 5px;
}

.converter-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input, button {
  font-family: var(--text);
  border-radius: 5px;
  border: none;
  height: 60px;
  font-size: 2.2rem;
}

#number {
  padding: 20px;
  width: 500px;
  margin-right: 15px;
}

#convert-btn {
  background-color: var(--orange);
  width: 130px;
  padding: 15px 30px;
  cursor: pointer;
}

#convert-btn:hover {
  background-color: #dfa400;
}

#output {
  background-color: var(--grayish-blue);
  height: fit-content;
  width: fit-content;
  padding: 35px;
  border-radius: 5px;
  display: block;
  margin: 60px auto 0;
  border: 1px solid var(--white);
  box-shadow: 0 0 20px var(--orange);
  /* max-width: 100%; */
  word-wrap: break-word;
}

.output-span {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--white);
  font-family: var(--text);
}
  
  
  
  